<footer class="site-footer">
  <div class="container">
    <div class="footer-bottom">
      <p>&copy; {{ "" | currentYear }} {{ metadata.author }}. All rights reserved.</p>
    </div>
  </div>
</footer>